/* Place your CSS styles in this file */

body 
{background-color:mistyrose;
border: 5px solid darksalmon ;
border-radius: 45px;
padding: 8px;}

h1 {text-align: center ;
    font-family: "Times New Roman" Serif;
    font-size:35px;
    font-weight:bolder;
    font-style: italic;
    color:maroon;
    background-color:lightgoldenrodyellow; 
    margin:8px;
    padding:30px;
    text-shadow: 2px 2px 5px salmon;"}

ul
  li {display:inline;}

img {
  float: right;
}
