/* Place your CSS styles in this file */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body { 
  margin:0;
  padding:0;
  background-color:#fff8d2;
}

.fContainer {
  font: Copperplate, fantasy;
  display: flex;
  width: 100%;
  height: 25vh
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-item: center;
  font-size: 20px;
  padding:15px;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  padding: 15px;
}

.fname {
  font-family: "Nunito", sans-serif;
  color: #fc18ab;
  font-weight: 1000;
}

.lname {
  font: copperplate, fantasy;
  color: white;
  font-weight: 700;
  padding-left: 6px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation>li {
  list-style-type: none;
  padding:15px;
}

.navigation>li>a {
  color:#fc18ab;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.navigation>li>a:hover {
  background-color: #ffa5df;
  color:#ffffff;
  padding: 15px;
  border-radius:5px;
  transition: all 0.2s ease-in-out;
}

.navigation>li>img {
  width:50px;
  height:50px;
  border-radius: 50px;
}

.navigation>li>img:hover {
  width:65px;
  height:65px;
  border-radius: 65px;
  transition: all 0.2s ease-in-out;
}

.active {
  background-color: #ffe5f6;
  color: #fc18ab;
  padding :15px;
  border-radius: 5px;
}

.active:hover{
  color:#fc18ab !important;
  background-color: #ffe5f6 !important;
}

.p1 {text-align: center;
  text-indent: 70px;
  color: #fff;
  text-shadow:5px 5px 8px #2E236C;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  height: 25vh;
}

h3 {text-align: left;
  text-indent: 30px;
  border-bottom:8px #C8ACD6;
  color:white;
  font-size:30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.member-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 15px;
}

.member-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.member-name {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  margin: 10px 0 10px;
  color: #fc18ab;
}

.member-role {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #998d95;
  margin: 5px 0;
}

.member-description {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-shadow: 4px 4px 10px #ffe5f6;
  color: #ffa5df;
}

.meets {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #fc18ab;
}

.thname {text-align: center ;
  font-family: "Nunito", sans-serif;
  font-weight:800;
  color:#fc18ab;
 }




