/* Place your CSS styles in this file */

body 
{background-color:mistyrose;
border: 5px solid darksalmon ;
border-radius: 45px;
padding: 8px;}

.topnav {
  overflow: hidden;
  background-color: #fafada;
}

.topnav a {
  float: left;
  color: #d39d83;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d39d83;
  color: lightgoldenrodyellow;
}

.topnav a.active {
  background-color: #6b1e14;
  color: mistyrose;
}

h3 {text-align: center ;
    color:brown;
    background-color:mistyrose; 
    margin:8px;
    padding:30px;
    text-shadow: 2px 2px 5px salmon;}

h1 {text-align: center ;
    font-family: "Times New Roman" Serif;
    font-size:45px;
    font-weight:bolder;
    font-style: italic;
    color:maroon;
    background-color:lightgoldenrodyellow; 
    margin:8px;
    padding:30px;
    text-shadow: 2px 2px 5px salmon;"}



ul
  li {display:inline;}

img {
  float: right;
}
